html, body {

  background-color: black;
}

.simon {
  background-color: white;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.redSquare {
  width: 50%;
  height: 50%;
  left: 50%;
  top: -50%;
  position: relative;
  background-color: darkred;
}

#redSquare.lightup {background-color: red;}


.blueSquare {
  width: 50%;
  height: 50%;
  top: -50%;
  left: 50%;
  position: relative;
  background-color: navy;
}

#blueSquare.lightup {background-color: blue;}


.yellowSquare {
  width: 50%;
  height: 50%;
  top: -100%;
  position: relative;
  background-color: gold;
}

#yellowSquare.lightup {background-color: yellow;}


.greenSquare {
  width: 50%;
  height: 50%;
  position: relative;
  background-color: limegreen;
}

#greenSquare.lightup {background-color: lime;}



