html, body {

  background-color: black;
  color: white;
  text-align: center;
}

.simon {
  background-color: white;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.greenSquare {
  width: 50%;
  height: 50%;
  position: relative;
  background-color: limegreen;
}

#greenSquare.light {background-color: lime;}

.redSquare {
  width: 50%;
  height: 50%;
  left: 50%;
  top: -50%;
  position: relative;
  background-color: darkred;
}

#redSquare.light {background-color: red;}


.blueSquare {
  width: 50%;
  height: 50%;
  top: -50%;
  left: 50%;
  position: relative;
  background-color: navy;
}

#blueSquare.light {background-color: blue;}


.yellowSquare {
  width: 50%;
  height: 50%;
  top: -100%;
  position: relative;
  background-color: gold;
}

#yellowSquare.light {background-color: yellow;}






