body, html {
  width: 100%; height: 100%;
  margin: 0;
  background-color: black;
  background-image: url('/img/cityscape-metropolis.gif');
  background-size: cover;
  background-position: center;
  image-rendering:optimizeSpeed;
  image-rendering:-moz-crisp-edges;
  image-rendering:-o-crisp-edges;
  image-rendering:-webkit-optimize-contrast;
  image-rendering:crisp-edges;
  -ms-interpolation-mode:bicubic;
  overflow: hidden;
}

header{
  height: 100px;
  font-family: impact;
  text-align: left;
  background-color: black;
  margin-bottom: 5px;
  margin-top: 10px;
}
h1{
  margin-top: 5px;
  margin-left: 30px;
  color: white;
}
#background{
  position: center;
  background-image: url('img/biohazard-bg.jpg');
  background-size: cover;

}
h1 {
  font-size: 36;
  font-family: impact;
  color: limegreen;
}

header {
  text-align: center;
  color: limegreen;
  font-size: 36px;
}

#wrapper{
  position: center;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  background-color: green;
  height: 450px;
}

#loadScreen{
  background-color: black;
  color: limegreen;
  height: 350px;
  width: 800px;
  margin: auto;
  font-family: "Lucida Console", Monaco, monospace;
  padding: 10px;
}
#endMessageWon{
  background-color: black;
  color: limegreen;
  height: 350px;
  width: 800px;
  margin: auto;
  font-family: "Lucida Console", Monaco, monospace;
  padding: 10px;
}
#endMessageLost{
  background-color: black;
  color: limegreen;
  height: 350px;
  width: 800px;
  margin: auto;
  font-family: "Lucida Console", Monaco, monospace;
  padding: 10px;
}
#block {
  position: absolute;
  width: 950px;
  height: 550px;
  margin: auto;
  background-image: url('img/cityscape-metropolis.gif');
  background-size: cover;
  background-position: center;
  display: block;
  /*cursor: url("img/target-cursor.png"), auto;*/
}
#block .p1{
  font-family: "Lucida Console", Monaco, monospace;
  margin-left: 30px;
  color: limegreen;
  float: left;
}
#block .p2{
  font-family: "Lucida Console", Monaco, monospace;
  margin-right: 30px;
  color: limegreen;
  float: right;
}
#block .pTimer{
  font-family: "Lucida Console", Monaco, monospace;
  color: limegreen;
  float: bottom;
}
/*#block.hit {
  width: 950px;
  height: 550px;
  margin: auto;
  background-image: url('img/background-image2.jpg');
  background-size: cover;
  background-position: center;
  display: block;*/
  /*cursor: url("img/target-cursor.png"), auto;*/
}
.missileUp {
  position: absolute;
  background-image: url('../img/missileUp.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  float: bottom;
}
.missile {
  position: absolute;
  background-image: url('img/virus.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  /*transition: top 2s, left 2s;
  transition-timing-function: linear;*/
}
.missile2 {
  position: absolute;
  background-image: url('img/virus2.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  /*transition: top 2s, left 2s;
  transition-timing-function: linear;*/
}
.missile3 {
  position: absolute;
  background-image: url('img/virus3.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  /*transition: top 2s, left 2s;
  transition-timing-function: linear;*/
}
.sploded {
  position: absolute;
  background-image: url('img/explosion1.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  transition: top 2s, left 2s;
  transition-timing-function: linear;
}
.sploded2 {
  position: absolute;
  background-image: url('img/explosion2.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 36px;
  transition: top 2s, left 2s;
  transition-timing-function: linear;
}
.hitsploded {
  position: absolute;
  background-image: url('img/green-splat.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  transition: top 2s, left 2s;
  transition-timing-function: linear;
}
.hitsploded2 {
  position: absolute;
  background-image: url('img/green-splat.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 36px;
  transition: top 2s, left 2s;
  transition-timing-function: linear;
}
.hitsploded2 {
  position: absolute;
  background-image: url('img/green-splat.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 36px;
  transition: top 2s, left 2s;
  transition-timing-function: linear;
}
#text{
  color: limegreen;
  font-size: 50;
}
